/* CSS Reset */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio, canvas, video { display: inline-block; }
audio:not([controls]) { display: none; height: 0; }
[hidden] { display: none; }
html { font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }
body { margin: 0; }
a:focus { outline: thin dotted; }
a:active, a:hover { outline: 0; }
h1 { font-size: 2em; margin: 0.67em 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
dfn { font-style: italic; }
hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }
mark { background: #ff0; color: #000; }
code, kbd, pre, samp { font-family: monospace, serif; font-size: 1em; }
pre { white-space: pre-wrap; }
q { quotes: "\201C" "\201D" "\2018" "\2019"; }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
img { border: 0; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }
legend { border: 0; padding: 0; }
button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0; }
button, input { line-height: normal; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }
button[disabled], html input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; }
table { border-collapse: collapse; border-spacing: 0; }
a { outline: 0; -o-transition: all .5s ease; transition: all .5s ease; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; }
a:focus { outline: none; }

/* Main Site Styling */
body { background: #EEE; font-family: 'Open Sans', sans-serif; }
body.index { background: #4080BD url(images/icon-background.png); }
body.holding { background: url(images/holding-bg.jpg) no-repeat #322a2e; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }

/* Holding Page */

.holdingContent { width: 355px; margin: 0 auto; padding: 70px 0 30px 0; color: #fff; text-align: center; }
.holdingContent .logo img { width: 354px; height: 77px; }
.holdingContent h1 { margin: 50px 0 20px 0; font-size: 35px; font-weight: 300; }
.holdingContent p { margin: 0 0 20px 0; font-weight: 300; }
.holdingContent .appStores { margin: 0; padding: 0; list-style: none; text-align: center; }
.holdingContent .appStores li { margin: 0 10px; display: inline-block; }

/* Login Form */
.login .wrapper { margin: 0 auto; width: 540px; }
.login .wrapper .logo { margin: 60px 0 0 0; float: left; }
.login .wrapper .loginBox { float: left; width: 100%; background: #fff url(images/login-lines.jpg) bottom left repeat-x; margin: 30px 0 0 0; padding: 0 0 3px 0; }
.login .wrapper .loginBox form { width: inherit; }
.loginBox h1 { font-size: 33px; margin: 30px 30px 35px 30px; color: #4082C1; font-weight: 300; }
.loginBox input { width: 405px; padding: 25px 40px 25px 95px; font-size: 28px; color: #999; font-weight: 300; border: 0; outline: 0; border-top: 1px solid #e1e1e1; -o-transition: all .5s ease; transition: all .5s ease; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; }
.loginBox input:focus { color: #4082C1; }
.loginBox #email { background: url(images/login-username-icon.png) center left no-repeat #fff; }
.loginBox #password { background: url(images/login-password-icon.png) center left no-repeat #fff; border-bottom: 1px solid #e1e1e1; }
.loginBox input[type="submit"] { width: 350px; margin: 40px auto; padding: 20px 0; border: none; display: block; font-size: 28px; line-height: 1em; background: url(images/login-button-icon.png) center left no-repeat #e0e0e0; color: #494949; }
.loginBox input[type="submit"]:hover { background: url(images/login-button-hover-icon.png) center left no-repeat #4082C1; color: #fff; }

/* Dashboard */

.wrapper { width: 1020px; margin: 0 auto; }

.dashboardHeader { width: 100%; height: 100px; background: #4080BD url(images/icon-background.png); }
.dashboardHeader .logo { margin: 21px 0 0 0; float: left; }
.dashboardHeader .logout { margin: 33px 0 0 0; padding: 7px 15px 9px 35px; display: inline-block; float: right; background: url(images/logout-icon.png) center left no-repeat rgba(0,0,0,0.15); font-size: 15px; line-height: 1em; color: #fff; text-decoration: none; font-weight: 300; }
.dashboardHeader .logout:hover { background: url(images/logout-icon.png) center left no-repeat rgba(0,0,0,0.35); }

.welcome { padding: 45px 0 43px 0; background: url(images/welcome-icon.png) center right no-repeat; }
.welcome h1 { margin: 0 0 10px 0; padding: 0; font-size: 33px; line-height: 1em; font-weight: 300; color: #4082C1; }
.welcome p { margin: 0; padding: 0; font-weight: 17px; font-weight: 300; letter-spacing: 1px; color: #666; }
.welcome p a { color: #4082C1; text-decoration: none; }
.welcome p a:hover { text-decoration: underline; }

.dashboard { position: relative; }

.statistics { width: 680px; height: 446px; position: absolute; top: 0; left: 0; background: #fff; border: 1px #E6E6E6 solid; display: none; }
.statistics.default { display: block; }
.statistics .statisticsNav { width: auto; height: 50px; margin: 0; padding: 0; list-style: none; background: url(images/statisticsNavShadow.png) bottom left repeat-x #4080BD; }

/* Individual Hospital Colors */
#s-queensBurton .statisticsNav { background: url(images/statisticsNavShadow.png) bottom left repeat-x #1a3566; }
#s-queensBurton .statisticsNav > li.active { color: #1a3566; }
#s-queensBurton .statisticsContent .panel .data > div { color: #1a3566; }
#s-royalDerby .statisticsNav { background: url(images/statisticsNavShadow.png) bottom left repeat-x #2C6EAE; }
#s-royalDerby .statisticsNav > li.active { color: #2C6EAE; }
#s-royalDerby .statisticsContent .panel .data > div { color: #2C6EAE; }
#s-ketteringGeneral .statisticsNav { background: url(images/statisticsNavShadow.png) bottom left repeat-x #74afaf; }
#s-ketteringGeneral .statisticsNav > li.active { color: #74afaf; }
#s-ketteringGeneral .statisticsContent .panel .data > div { color: #74afaf; }
#s-kingsMill .statisticsNav { background: url(images/statisticsNavShadow.png) bottom left repeat-x #beca59; }
#s-kingsMill .statisticsNav > li.active { color: #beca59; }
#s-kingsMill .statisticsContent .panel .data > div { color: #beca59; }
#s-leicesterGeneral .statisticsNav { background: url(images/statisticsNavShadow.png) bottom left repeat-x #d5a007; }
#s-leicesterGeneral .statisticsNav > li.active { color: #d5a007; }
#s-leicesterGeneral .statisticsContent .panel .data > div { color: #d5a007; }
#s-lincolnCounty .statisticsNav { background: url(images/statisticsNavShadow.png) bottom left repeat-x #e54a66; }
#s-lincolnCounty .statisticsNav > li.active { color: #e54a66; }
#s-lincolnCounty .statisticsContent .panel .data > div { color: #e54a66; }
#s-leicesterRoyal .statisticsNav { background: url(images/statisticsNavShadow.png) bottom left repeat-x #8b4583; }
#s-leicesterRoyal .statisticsNav > li.active { color: #8b4583; }
#s-leicesterRoyal .statisticsContent .panel .data > div { color: #8b4583; }
#s-northamptonGeneral .statisticsNav { background: url(images/statisticsNavShadow.png) bottom left repeat-x #5166b9; }
#s-northamptonGeneral .statisticsNav > li.active { color: #5166b9; }
#s-northamptonGeneral .statisticsContent .panel .data > div { color: #5166b9; }
#s-queensMedicalCentre .statisticsNav { background: url(images/statisticsNavShadow.png) bottom left repeat-x #6d8e0b; }
#s-queensMedicalCentre .statisticsNav > li.active { color: #6d8e0b; }
#s-queensMedicalCentre .statisticsContent .panel .data > div { color: #6d8e0b; }
#s-nottinghamCity .statisticsNav { background: url(images/statisticsNavShadow.png) bottom left repeat-x #3c907d; }
#s-nottinghamCity .statisticsNav > li.active { color: #3c907d; }
#s-nottinghamCity .statisticsContent .panel .data > div { color: #3c907d; }
#s-pilgrimBoston .statisticsNav { background: url(images/statisticsNavShadow.png) bottom left repeat-x #c34768; }
#s-pilgrimBoston .statisticsNav > li.active { color: #c34768; }
#s-pilgrimBoston .statisticsContent .panel .data > div { color: #c34768; }

.statistics .statisticsNav > li { width: 25%; height: inherit; display: block; float: left; text-align: center; font-size: 16px; line-height: 1em; font-weight: 300; cursor: pointer; color: #fff; -o-transition: all .5s ease; transition: all .5s ease; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; }
.statistics .statisticsNav > li:hover { background: rgba(0,0,0,0.15); }
.statistics .statisticsNav > li.active { background: #fff; color: #4080BD; }
.statistics .statisticsNav > li > span { width: inherit; height: inherit; display: table-cell; vertical-align: middle; }
.statistics .statisticsContent { width: inherit; height: 396px; overflow: hidden; }
.statistics .statisticsContent .panel { width: inherit; height: inherit; display: none; position: relative; }
.statistics .statisticsContent .panel.active { display: block; }
.statistics .statisticsContent .panel .data { width: 330px; margin: 30px 0 0 30px; float: left; color: #666; }
.statistics .statisticsContent .panel .data > div { width: 50%; padding: 0 0 10px 0; float: left; text-align: center; }
.statistics.default .statisticsContent .panel .data > div.feedback { color: #DD4A66; }
.statistics.default .statisticsContent .panel .data > div.aveScore { color: #74A7A7; }
.statistics.default .statisticsContent .panel .data > div.lowScore { color: #B6C259; }
.statistics.default .statisticsContent .panel .data > div.comments { color: #4082C1; }
.statistics .statisticsContent .panel .data > div .number { font-size: 90px; font-weight: 600; letter-spacing: -3px; line-height: 1em; }
.statistics .statisticsContent .panel .data > div .number small { font-size: 30px; line-height: 0px; display: inline; }
.statistics .statisticsContent .panel .data > div p { margin: 3px 0 4px 0; padding: 0; font-size: 18px; line-height: 1em; font-weight: 300; }
.statistics .statisticsContent .panel .data > div .details { font-size: 15px; line-height: 1em; font-weight: 300; color: #808080; }
.statistics .statisticsContent .panel .chart { width: 250px; margin: 30px 30px 0 0; float: right; }
.statistics .statisticsContent .panel .chart canvas { margin: 0 0 10px 0; }
.statistics .statisticsContent .panel .chart p { margin: 0; padding: 0; text-align: center; font-size: 16px; line-height: 1em; font-weight: 300; color: #4082C1; }
.statistics .statisticsContent .panel > table { width: 245px; margin: 20px 20px 0 0; float: right; font-size: 15px; line-height: 1em; text-align: center; color: #1B3566; }
.statistics .statisticsContent .panel > table tr.alt { background: #f5f5f5; }
.statistics .statisticsContent .panel > table tr td { width: 15px; padding: 14px 0 16px 0; position: relative; }
.statistics .statisticsContent .panel > table tr.alt td { padding: 9px 0 11px 0; }
.statistics .statisticsContent .panel > table tr td.question { text-align: left; padding: 9px 20px 11px 12px; }
.statistics .statisticsContent .panel > table tr td.question a { color: #4082C1; text-decoration: none; font-weight: 600; position: relative; }
.statistics .statisticsContent .panel > table tr td.question a:hover { color: #366591; }
.statistics .statisticsContent .panel > table tr td.question a span { width: 300px; padding: 5px 9px; position: absolute; top: -28px; left: -120px; background: #4082C1; font-size: 11px; font-weight: normal; color: #fff; text-align: center; -moz-border-radius: 3px; border-radius: 3px; display: none; }
.statistics .statisticsContent .panel > table tr td.question a span:after { width: 100%; height: 5px; position: absolute; bottom: -5px; left: 0; background: url(images/tooltipArrow.png) top center no-repeat; content: "  "; display: block; }
.statistics .statisticsContent .panel > table tr td.question a:hover span { display: block; }
.statistics .statisticsContent .panel > table tr.labels { height: 60px; font-size: 12px; line-height: 1em; }
.statistics .statisticsContent .panel > table tr.labels td { width: 0; }
.statistics .statisticsContent .panel > table tr.labels td span { width: 35px; display: block; -moz-transform: rotate(-90deg); -o-transform: rotate(-90deg); -webkit-transform: rotate(-90deg); filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.90); -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.90)"; }
.statistics .statisticsContent .panel aside { width: inherit; padding: 15px 0; display: block; position: absolute; bottom: 0; left: 0; background: #F2F2F2; border-top: 1px #E6E6E6 solid; }
.statistics .statisticsContent .panel aside > a { margin: 0 0 0 20px; padding: 1px 0 4px 35px; font-size: 15px; line-height: 1em; font-weight: 300; text-decoration: none; color: #808080; background: url(images/downloadCSV-icon.png) center left no-repeat; }
.statistics .statisticsContent .panel aside > a:hover { color: #222; }

.hospitals { width: 324px; float: right; }
.hospitals .hospital { float: left; position: relative; width: 150px; height: 103px; margin: 0 0 12px 12px; }
.hospitals .hospital a { width: inherit; height: 65px; background: url(images/icon-background.png) repeat #ccc; padding: 19px 0; text-decoration: none; cursor: pointer; position: relative; display: block; }
.hospitals .hospital a:hover { background: url(images/icon-background.png) repeat #b5b5b5; }
.hospitals .hospital.active a:hover { opacity: 0.9; }
.hospitals .hospital p { float: left; margin: 0 0 0 15px; color: #fff; font-size: 16px; line-height: 22px; font-weight: 300; }
.hospitals .hospital p small { font-size: 12px; }
.hospitals .hospital > span { width: 30px; height: 30px; position: absolute; bottom: 10px; right: 10px; display: none; z-index: 9; overflow: hidden; text-indent: -9999px; background: url(images/hospitalClose-icon.png) center no-repeat; cursor: pointer; background-size: 30px 30px; }
.hospitals .hospital.focus > span { display: block; }
.hospitals .hospital.one.active a { background-color: #1a3566; }
.hospitals .hospital.two.active a { background-color: #408ac9; }
.hospitals .hospital.three.active a { background-color: #74afaf; }
.hospitals .hospital.four.active a { background-color: #beca59; }
.hospitals .hospital.five.active a { background-color: #d5a007; }
.hospitals .hospital.six.active a { background-color: #e54a66; }
.hospitals .hospital.seven.active a { background-color: #8b4583; }
.hospitals .hospital.eight.active a { background-color: #5166b9; }
.hospitals .hospital.nine.active a { background-color: #6d8e0b; }
.hospitals .hospital.ten.active a { background-color: #3c907d; }
.hospitals .hospital.eleven.active a { background-color: #c34768; }

.viewFeedback { padding: 20px 0 33px 0; }
.viewFeedback h2 { margin: 0; padding: 0; font-size: 23px; line-height: 1em; font-weight: 300; color: #808080; float: left; }
.viewFeedback a { margin: 6px 0 0 0; padding: 0; font-size: 17px; line-height: 1em; font-weight: 300; color: #4082C1; float: right; text-decoration: none; }
.viewFeedback a:hover { text-decoration: underline; }

.feedbackBoxes { width: 100%; }
.feedbackBoxes .feedbackBox { width: 323px; margin: 0 0 55px 0; float: left; background: #fff; border-top: 2px #E6E6E6 solid; position: relative; }
.feedbackBoxes .feedbackBox.fb-a { border-top-color: #DD4A66; }
.feedbackBoxes .feedbackBox.fb-b { border-top-color: #834580; }
.feedbackBoxes .feedbackBox.fb-c { border-top-color: #4082C1; }
.feedbackBoxes .feedbackBox .feedbackBoxContent { /*height: 95px; min-height: 95px;*/ margin: 0 0 35px 0; padding: 23px 28px 0 28px; overflow: hidden; font-size: 14px; line-height: 24px; color: #666; font-weight: 300; position: relative; }
.feedbackBoxes .feedbackBox.active .feedbackBoxContent { height: auto; }
.feedbackBoxes .feedbackBox .feedbackBoxContent h3 { margin: 0; font-size: inherit; }
.feedbackBoxes .feedbackBox .feedbackBoxContent p { margin: 0 0 10px 0; padding: 0; font-style: italic; }
.feedbackBoxes .feedbackBox .readMore { position: absolute; bottom: 48px; right: 28px; cursor: pointer; font-size: 16px; font-weight: 300; display: none; }
.feedbackBoxes .feedbackBox.results .readMore { bottom: 85px; }
.feedbackBoxes .feedbackBox .readMore:hover { text-decoration: underline; }
.feedbackBoxes .feedbackBox.active .readMore { display: none; }
.feedbackBoxes .feedbackBox.fb-a .readMore { color: #DD4A66; }
.feedbackBoxes .feedbackBox.fb-b .readMore { color: #834580; }
.feedbackBoxes .feedbackBox.fb-c .readMore { color: #4082C1; }
.feedbackBoxes .feedbackBox .feedbackBoxInfo { padding: 9px 0; background: #fafafa; }
.feedbackBoxes .feedbackBox .feedbackBoxInfo span { margin: 0 0 0 20px; padding: 3px 0 2px 26px; float: left; font-size: 14px; line-height: 1em; font-weight: 300; text-decoration: none; color: #808080; }
.feedbackBoxes .feedbackBox .feedbackBoxInfo span.date { margin: 0 20px 0 20px; background: url(images/feedbackDate-icon.png) center left no-repeat; }
.feedbackBoxes .feedbackBox .feedbackBoxInfo span.recommend { margin: 0 20px 0 0; padding: 3px 17px 2px 0; float: right; color: #4cb228; background: url(images/recommendTick.png) center right no-repeat; }
.feedbackBoxes .feedbackBox .feedbackBoxInfo span.user { padding: 2px 0 4px 26px; background: url(images/feedbackUser-icon.png) center left no-repeat; display: none; }
.feedbackBoxes .feedbackBox .feedbackBoxResults { width: auto; margin: 0; padding: 10px 0 14px 0; background: #4082C1; list-style: none; color: #fff; font-size: 15px; line-height: 1em; font-weight: 300; text-align: center; }
.feedbackBoxes .feedbackBox .feedbackBoxResults li { padding: 0 10px; display: inline-block; }
.feedbackBoxes .feedbackBox .feedbackBoxResults li strong { font-weight: 600; }
.feedbackBoxes .feedbackBox > span { width: 42px; height: 30px; display: block; position: absolute; bottom: -29px; right: 37px; background: url(images/feedback-arrow.png) top right no-repeat; }
.feedbackBoxes .feedbackBox.results > span { background: url(images/feedbackResults-arrow.png) top right no-repeat; }

.dashboardFooter { width: 100%; padding: 9px 0 12px 0; background: url(images/dashboardFooter-lines.jpg) bottom left repeat-x #DEDEDE; font-size: 11px; color: #3A4353; }
.dashboardFooter .right { float: right; }
.dashboardFooter .right a { color: #3A4353; }

/* Clearfix */

.clearfix:before, .clearfix:after, .wrapper:before, .wrapper:after, .panel:before, .panel:after, .data:before, .data:after { content: ""; display: table; }
.clearfix:after, .wrapper:after, .panel:after, .data:after { clear: both; }
.clearfix, .wrapper, .panel, .data { *zoom: 1; }

/* IE Fixes */

.lt-ie9 .dashboardHeader .logout { background: url(images/logout-icon.png) center left no-repeat #4074a6; }
.lt-ie9 .dashboardHeader .logout:hover { background: url(images/logout-icon.png) center left no-repeat #3f6a93; }
.lt-ie9 .statistics .statisticsContent .panel > table { font-size: 12px; }
.lt-ie9 .statistics .statisticsContent .panel > table tr td { width: 15px; padding: 10px 0 12px 0; }
.lt-ie9 .statistics .statisticsContent .panel > table tr td.question { text-align: center; }
.lt-ie9 .statistics .statisticsContent .panel > table tr td a { color: #4082C1; text-decoration: none; font-weight: 600; }
.lt-ie9 .statistics .statisticsContent .panel > table tr td a:hover { color: #366591; }
.lt-ie9 .statistics .statisticsContent .panel > table tr.labels { height: auto; }
.lt-ie9 .statistics .statisticsContent .panel > table tr.labels td span { display: inline; -moz-transform: none; -o-transform: none; -webkit-transform: none; filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0); -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0)"; }
.lt-ie9 .statistics .statisticsContent .panel .chart { display: none; }

.lt-ie8 .dashboardHeader .logout { background: url(images/logout-icon.png) center left no-repeat #4074a6; }
.lt-ie8 .dashboardHeader .logout:hover { background: url(images/logout-icon.png) center left no-repeat #3f6a93; }
.lt-ie8 .statistics .statisticsNav > li { padding: 14px 0 20px 0; }
.lt-ie8 .statistics .statisticsContent .panel { height: 396px; }
.lt-ie8 .statistics .statisticsContent .panel > table { font-size: 12px; }
.lt-ie8 .statistics .statisticsContent .panel > table tr td { width: 15px; padding: 10px 0 12px 0; }
.lt-ie8 .statistics .statisticsContent .panel > table tr td.question { text-align: center; }
.lt-ie8 .statistics .statisticsContent .panel > table tr td a { color: #4082C1; text-decoration: none; font-weight: 600; }
.lt-ie8 .statistics .statisticsContent .panel > table tr td a:hover { color: #366591; }
.lt-ie8 .statistics .statisticsContent .panel > table tr.labels { height: auto; }
.lt-ie8 .statistics .statisticsContent .panel > table tr.labels td span { display: inline; -moz-transform: none; -o-transform: none; -webkit-transform: none; filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0); -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0)"; }
.lt-ie8 .statistics .statisticsContent .panel .chart { display: none; }
.lt-ie8 .statistics .statisticsContent .panel aside { bottom: 0px; background: none; border: none; }
.lt-ie8 .feedbackBoxes { margin: 0 0 50px 0; }
.lt-ie8 .feedbackBoxes .feedbackBox.fb-b { margin: 0 25px 55px 25px; }
.lt-ie8 .feedbackBoxes .feedbackBox .feedbackBoxResults li { display: inline; }